[2020-02-26 14:26] curquiza opened #11 "Use Meili's style and main color"
It might be cool to use the Meili's color and a better style (if you are inspired) for our own dropdown.

All the files are:
- in `src/styles/*.scss` for the CSS
- in `src/lib/templates.js` for the html

[2020-02-26 14:28] curquiza opened #12 "Use Meili's logo in dropdown footer"
Currently, the footer of the dropdown is a simple "Powered by MeiliSearch".
It could be cool to improve this footer with a logo.

Do not forget to link the logo to the landing page ;)

[2020-02-27 13:27] #12 closed

[2020-03-01 17:40] curquiza opened #22 "Usage on README"
Currently, we don't know how to use docs-searchbar.js

- [ ] Add usage
- [ ] Add examples
- [ ] Add details about options that we can pass to `docsSearchBar` function
- [ ] Add details about how to customize the CSS

[2020-04-08 08:50] curquiza opened #25 "Scroll issue on Firefox 74.0"
Someone reported an issue on Firefox 74.0 (Ubuntu):

![Selection_001](https://user-images.githubusercontent.com/20380692/78764261-96c08780-7986-11ea-8624-e8fefb69e46f.png)

The scroll is activated and we do not see the MeiliSearch logo anymore.

[2020-04-14 08:31] curquiza opened #26 "Bad highlighting on Chrome"
<img width="976" alt="Capture d’écran 2020-04-14 à 10 30 25" src="https://user-images.githubusercontent.com/20380692/79203313-2492eb80-7e3b-11ea-98ae-12cf2579a748.png">

[2020-04-14 09:15] #26 closed

[2020-04-22 16:04] curquiza commented on #11
It should stay sober: some of our users use it without any CSS configuration on their website.

[2020-04-26 20:58] curquiza opened #29 "Hotkey / does not work"
The `autocomplete.js` library does not recognize the `/` character as hotkey. You must pass `191` instead of `'/'` to get it worked.

The `docs-searchbar.js` should check the user input in `autocompleteOptions.keyboardShortcuts`: if there is a `/` it should replace it by `191` so that `autocomplete.js` can take it into account.

[2020-04-26 21:43] #29 closed

[2020-04-27 10:25] curquiza opened #31 "Autocomplete options"
When passing an `autocompleteOptions` to the `docsSearchBar` function, a second `input` (HTML tag) is popping.
The `autocompleteOptions` are indeed not well passed in the `autocomplete` method.

[2020-04-27 11:00] curquiza opened #33 "Security vulnerabilities"
This issue is to fix all the security vulnerabilities in the dependencies.

[2020-04-27 12:19] #31 closed

[2020-04-29 14:07] #33 closed

[2020-05-12 13:20] #22 closed

[2020-05-27 08:42] curquiza opened #40 "Using docs-searchbar.js library without using docs-scraper tool"
Here is the question from one of our users on Slack:

Hey guys - if I want to use the awesome search bar at https://github.com/meilisearch/docs-searchbar.js but don't use the scraper (I'm pushing content via API calls), how do I address the "Object has no key lvl0" error? What metadata do I need to push?

The scraper: https://github.com/meilisearch/docs-scraper
Related tutorial: https://docs.meili

[2020-05-27 09:37] curquiza commented on #40
First of all, the `docs-searchbar.js` library provides a search **for documentation website**.
It means the search bar would have this kind of display with titles (`lvl0`), sub-titles (`lvl1`), sub-sub-titles (`lvl2`) ... and sometimes content:

<img width="777" alt="Capture d’écran 2020-05-27 à 10 58 09" src="https://user-images.githubusercontent.com/20380692/83000809-2c81a600-a00b-11ea-859b-66

[2020-06-11 13:47] tpayet opened #47 "All links are redirecting to the website root"
Thanks to [github-issues-scraper](https://github.com/meilisearch/github-issues-scraper) I can send issues and pull requests documents to MeiliSearch. In these documents there is a field called `url` that we use to redirect the user on the appropriate document in the documentation.

For GitHub issues & pr, the url redirect straight to GitHub, but if I click on the results from the documentation web

[2020-06-15 08:41] curquiza commented on #47
This is not related to `docs-searchbar.js` but to `vuepress-plugin-meilisearch` that overwrites the default URL redirection of `docs-searchbar.js`.
See [these lines of code](https://github.com/meilisearch/vuepress-plugin-meilisearch/blob/685c306d602f57988331cf1af806c1bc26a7af2c/MeiliSearchBox.vue#L58-L62).

Moving this issue to vuepress-plugin-meilisearch.

[2020-06-29 12:06] curquiza opened #84 "Upgrade jest dependency"
Currently, we cannot upgrade jest on this package because pass from the `v23` to the `v24` is breakable for our tests suite.

See https://github.com/meilisearch/docs-searchbar.js/pull/79.

If someone is ok to upgrade our tests and the jest dependency, that would be really appreciated 🙂

[2020-07-20 17:07] curquiza commented on #11
It does not seem a priority anymore since it's not asked by the users, feel free to re-open it if needed.

[2020-07-20 17:07] #11 closed

[2020-08-10 08:32] curquiza opened #107 "Remove warning during the build"
[code]

[2020-09-06 05:22] myface-wang opened #117 "When the title contains Chinese, an error will be reported"

[2020-09-06 05:27] myface-wang commented on #117
![20200906132002](https://user-images.githubusercontent.com/13325359/92318804-03c66f00-f044-11ea-9519-5c2d9149802d.png)
But the official plug-ins don't have this problem
@vuepress/plugin-search
and i know algolia have this problem

[2020-09-07 07:06] curquiza commented on #117
Hello @myface-wang!

Sorry for this issue. @vuepress/plugin-search does not need to search engine in background to work. It only searches through the existing content, but it's not typo-tolerant and not as relevant as MeiliSearch or Algolia.
As [we mention it in our README](https://github.com/meilisearch/docs-searchbar.js#credits), docs-searchbar.js is strongly based on the Algolia's work. That mi

[2020-09-07 10:59] curquiza opened #123 "Fix security vulnerability by updating jest"
Currently, the version of jest is `23.6.0` and the most recent one is `v0.26.4`.
This delay of version leads to [security vulnerability](https://github.com/meilisearch/docs-searchbar.js/network/alert/yarn.lock/yargs-parser/open) because `jest` depends on `jest-cli` that depends on an old version of `yargs` that depends on an old version of `yargs-parser` (below `v0.13.2`, that is recommended to fi

[2020-09-07 11:15] bidoubiwa commented on #117
Hey @myface-wang,
could you provide a link to your documentation so that we can test it out?

[2020-09-07 14:31] myface-wang commented on #117
yes，I changed the code
[code]

[2020-09-07 17:53] bidoubiwa commented on #117
Did it work ?

[2020-09-08 02:16] myface-wang commented on #117
Yes, it works

[2020-09-08 08:27] curquiza commented on #117
Closing this issue then 🙂

[2020-09-08 08:27] #117 closed

[2020-09-28 15:41] curquiza commented on #84
Closed in favor of #123

[2020-09-28 15:41] #84 closed

[2020-10-12 13:42] curquiza opened #141 "Upgrade webpack cli to v4"
And make the build work again.

https://github.com/meilisearch/docs-searchbar.js/pull/138/checks?check_run_id=1242282848

[2020-10-26 18:12] IvanSanchezSalvador commented on #107
Add pull request for this fix.

[2020-10-27 11:37] #107 closed

[2020-11-09 15:20] curquiza opened #162 "Should we remove the ".lock" file?"
We are thinking about removing (or not) the `.lock` file of this package.

Since this discussion concerns all the JS tools of the MeiliSearch organization, we created a centralized issue: https://github.com/meilisearch/integration-guides/issues/53.

If you are interested in this topic, please read it and feel free to share your (professional or not) experience with us on this main issue. Every opi

[2020-11-15 14:22] divdax opened #166 "Search multiple indexes?"
It is possible to search multiple indexes at once?

[2020-11-16 11:08] curquiza commented on #166
Hello @divdax! No, unfortunately, for the moment, this tool (and MeiliSearch neither) does not provide the possibility to search in multiple indexes with one request.

[2020-11-18 13:16] #166 closed

[2020-11-25 11:09] curquiza commented on #141
Closed by #159

[2020-11-25 11:09] #141 closed

[2020-12-10 14:22] bidoubiwa opened #182 "Upgrade to jest v24-26 and babel to version 7"
Because or Jest version is v23 we have vulnerabilities caused by `yargs-parser`.
We tried to fix it by using the resolutions, this introduced more problems. Also, resolutions are patches and not a solution.

linked issue: https://github.com/facebook/jest/issues/7424

This vulnerability has been fixed in jest `v24>`

Jest version 24 uses Babel 7:
https://jestjs.io/blog/2019/01/25/jest-24-refreshing

[2020-12-10 14:27] curquiza commented on #182
Also related to #123 I think.

[2021-01-06 16:58] fharper opened #194 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #196 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-13 10:38] bidoubiwa opened #200 "Add browser tests"
# Testing

With the same method used in [meilisearch-js](https://github.com/meilisearch/meilisearch-js/tree/master/tests/env/express) we should add a very simple test that tries out the search bar in doc-searchbar.js

## How

As mvp we should add at least one test that does the following
1. Go the served webpage and check if it loads correctly
2. Using a library like [puppeteer](https://www.npmjs.

[2021-01-13 10:39] bidoubiwa opened #201 "Add browser tests"
# Testing

With the same method used in [meilisearch-js](https://github.com/meilisearch/meilisearch-js/tree/master/tests/env/express) we should add a very simple test that tries out the search bar in doc-searchbar.js

## How

As mvp we should add at least one test that does the following
1. Go the served webpage and check if it loads correctly
2. Using a library like [puppeteer](https://www.npmjs.

[2021-01-13 10:45] #201 closed

[2021-01-13 17:55] #182 closed

[2021-01-13 17:55] #123 closed

[2021-01-14 19:50] curquiza opened #203 "Remove the node-notifier security vulnerability"
<img width="974" alt="Capture d’écran 2021-01-18 à 17 07 16" src="https://user-images.githubusercontent.com/20380692/104938670-abb75600-59af-11eb-84a8-51139cef8519.png">

We need to upgrade jest.

[2021-01-18 22:51] #196 closed

[2021-01-19 09:30] #203 closed

[2021-02-11 12:48] bidoubiwa opened #230 "Avoid having to reload the playground for it to work"
When launching the playground

[code]

A webpage is opened that does not work until your reload the page. This should be fixed.

[2021-02-14 17:44] #194 closed

[2021-02-16 17:02] hawkeye64 opened #234 "How to get grouped data"
I have integrated Meilisearch. I scraped our markdown documentation myself. I have integrated docs-searchbar.js.
But, when I query my output is not "grouped" (like an SQL "group by")
Did I miss something in the scraping or is there something else I need to do?
My output:
![image](https://user-images.githubusercontent.com/10262924/108096026-bfe98400-703d-11eb-90d1-5c8ed2528f84.png)
But I want it to

[2021-02-17 21:28] hawkeye64 commented on #234
I figured it out. It's all in the css.
![image](https://user-images.githubusercontent.com/10262924/108270209-5e541300-712c-11eb-86f9-99d3be5c9aff.png)

[2021-02-17 21:28] #234 closed

[2021-04-29 01:12] bidoubiwa opened #299 "Add dark-mode"
Dark mode is not enabled on the code and does not switch if implemented on another website.

[2021-06-01 12:06] curquiza commented on #162
Close as https://github.com/meilisearch/integration-guides/issues/53 is closed

[2021-06-01 12:06] #162 closed

[2021-06-01 12:14] curquiza opened #339 "Add browser tests with Cypress"
Cypress is a library to run tests in a browser.

To ensure this package work, we would like to add tests with Cypress.

Follow this guide to implement it: https://github.com/meilisearch/integration-guides/blob/main/guides/cypress.md

Feel free to ask any question about this issue implementation 🙂

[2021-06-03 13:24] bidoubiwa opened #341 "Create environment where dark mode can be disabled or enabled"
**Description**
As from this PR #340 when dark mode is set on OS it will automatically change the docs-searchbar.js to a dark mode. Disabling this is quite painful.

Dark mode in OS is not always the mode you want on your apps.

**Solution**

We should wrap the modes into classes in order to make them toggable.  For example, using the solution [suggested here](https://css-tricks.com/a-complete-gui

[2021-06-04 12:23] bidoubiwa opened #344 "Remove divisions inside scss as they are deprecated and will be removed in dart sass 2.0"
In our styling files we are using divisions to create values for our styles, for example:
[code]

Unfortunately, this will become obsolete and should be replaced by the following

[code]

[2021-06-04 12:40] bidoubiwa opened #345 "Project not compatible with node 16"
**Description**
Node 16 is now the latest version of node.  It is not the `active` version yet so we should not pro-actively solve this issue. Nonetheless the 26 octobre 2021 it will become the active version.

[See node releases status](https://nodejs.org/en/about/releases/)

As for now, this project is not compatible with node 16 because of `node-sass`.

**Current behavior**
Node-sass  v4  is no

[2021-06-04 12:58] bidoubiwa opened #346 "Changes after the Node.js v10 EOL (2021-04-30)"
Related meilisearch/meilisearch-js#760

Node 10 is the end of life since April 2021. It becomes more and more unsupported by the libraries we use in our different JS project. Until now we had to make a workaround to keep compatibility with node 10.

As for the official EOL of node, we should also drop support for node 10 and stay up-to-date with the libraries that upgraded without node 10 support.

[2021-06-07 14:22] mdubus opened #351 "function `checkArguments` isn't exhaustive"
The `checkArguments` function receives the following parameters :

[code]

But it only checks:
- that `apiKey`, `indexUid`, and `hostUrl` are present
- that `inputSelector` is a string
- that there is an input in the page with `inputSelector` as CSS selector

All the other checks are missing. Maybe we should add them to have a more robust library.

[2021-06-07 14:25] mdubus opened #352 "Remove use of `!important` in CSS"
There are  `!important` in CSS. This is a bad practice and it would be nice to remove them.
If so, we have to be careful that it might be breaking.

![Capture d’écran 2021-06-07 à 16 22 40](https://user-images.githubusercontent.com/30866152/121033568-9a2ee900-c7ac-11eb-9182-b3c622a346d7.png)

[2021-06-07 15:21] #346 closed

[2021-06-09 09:25] bidoubiwa commented on #200
Deprecated in favour of #339

[2021-06-09 09:25] #200 closed

[2021-06-09 09:26] bidoubiwa commented on #230
Fixed by #342

[2021-06-09 09:26] #230 closed

[2021-06-10 08:41] bidoubiwa commented on #345
fixed: #315

[2021-06-10 08:42] bidoubiwa opened #356 "Confirm compatibility with node 16"
**Description**
Node 16 is now the latest version of node.  It is not the `active` version yet so we should not proactively confirm compatibility with node 16. Nonetheless, the 26 October 2021 node 16 will become the active version and this is a reminder for that we have to guarantee compatibility.

[See node releases status](https://nodejs.org/en/about/releases/)

**Environment (please complete t

[2021-06-10 08:56] #341 closed

[2021-06-10 11:17] #345 closed

[2021-06-10 11:54] bidoubiwa opened #361 "Remove dupicated version mention"
Version are both changed in `package.json` and `version.js`.

Creating a duplication of changes in each release. `version.js` is used by `src/lib/main.js`

[code]

We should find a solution to avoid this duplication

[2021-06-11 01:04] sanders41 commented on #361
You can get the version from the `package.json` file like below, but the **BIG** caveat is this ships the whole `package.json` file to the client and therefore is a security risk (so don't do it 😄).

[code]

[genversion](https://www.npmjs.com/package/genversion) is an npm package that gets the version from the `package.json` and generates a `version.js` file without sending any of the other inform

[2021-06-14 14:04] bidoubiwa opened #369 "Automatic dark/light mode toggle"
As for now when the theme mode is changed on the system, docs-searchbar needs a reload to apply changes.

When adding this in the code:
[code]

the issue is resolved but introduces another problem. The user that integrates docs-searchbar.js might want to force `data-ds-theme=dark` without having the `preferes-color-scheme` to dark.

A solution must be find to answer all situations:
- Automatic tog

[2021-06-15 12:48] mdubus commented on #299
Fixed by #340

[2021-06-15 12:48] #299 closed

[2021-09-23 00:20] cdswyda opened #425 "something is empty in"
**Description**
Description of what the bug is about.

**Expected behavior**
What you expected to happen.

**Current behavior**
What happened.

**Screenshots or Logs**
If applicable, add screenshots or logs to help explain your problem.

**Environment (please complete the following information):**

- OS: [e.g. Debian GNU/Linux]
- MeiliSearch version: [e.g. v.0.20.0]
- docs-searchbar.js version: [e

[2021-09-23 10:29] bidoubiwa commented on #425
Hey @cdswyda I had the same bug yesterday. Do you know if this is linked to the current version of the project or not? If you don't I can check

[2021-09-23 13:33] cdswyda commented on #425
I'm not sure, I have tried the following combinations:

- MeiliSearch (docker last) + docs-scraper(docker last) + docs-searchbar.js(v1.1.11 ~ v1.3.2)
- MeiliSearch (docker v.0.22.0) + docs-scraper(docker v.0.10.5) + docs-searchbar.js(v1.1.11 ~ v1.3.2)

But it seems that the above versions are the same, and I have not tried more versions.

[2021-09-29 08:04] bidoubiwa commented on #361
@sanders41 You are right! Closing this :)

[2021-09-29 08:04] #361 closed

[2021-09-29 08:37] bidoubiwa commented on #25
Can someone still exists or if it is fixed?

[2021-09-29 13:56] Sugyanee commented on #352
Hey, can I work on this issue?

[2021-09-30 08:37] bidoubiwa commented on #352
Sure! Good luck :)

[2021-09-30 08:49] Sugyanee commented on #352
I'll try my best

[2021-10-01 08:02] arpit282 commented on #352
Hola, can I also work on this?

[2021-10-04 23:24] TheLaw1337 commented on #339
on it

[2021-10-05 10:30] curquiza commented on #425
I think this is related to https://github.com/meilisearch/MeiliSearch/discussions/1766
And here the PR that should solve this: https://github.com/meilisearch/docs-scraper/pull/158

[2021-10-05 13:06] bidoubiwa commented on #352
To not block contributors on issues that are not completed, we change the assignees after 5 days without a PR. Since it has been 5days I'm removing your assignment.

I'm assigning you @arpit282

[2021-10-05 14:13] bidoubiwa commented on #339
Hey @TheLaw1337 Thanks a lot for giving an interest in this PR. I'm assigning you. [Here is a guide](https://github.com/meilisearch/integration-guides/blob/main/guides/cypress.md) on how to use cypress in our repos.

We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-05 14:16] bidoubiwa commented on #425
Hey! The fix has beem releases into the main branch of [docs-scraper](https://github.com/meilisearch/docs-scraper)! I'm closing this issue. If the issue persist please feel free to reopen

[2021-10-05 14:45] TheLaw1337 commented on #339
#434 please do review

[2021-10-07 00:08] zephraph commented on #40
It's notable that anyone taking this step will also need to ensure their index settings are correct. You can see the settings the scraper adds [here](https://github.com/meilisearch/docs-scraper/blob/776bdb3dd1bce490c44dfa53f99ae8d9e57fcf43/scraper/src/meilisearch_helper.py#L48-L99).

[2021-10-14 11:32] ColinFrick commented on #351
I'd like to work on this.

[2021-10-14 13:55] bidoubiwa commented on #344
Ah yes good catch:

The migration is needed! Thanks a lot for giving interest in this repo :) If you pull from main we added an `e2e` test with `cypress` that will ensure your changes work correctly.

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We wil

[2021-10-14 16:26] devcer commented on #339
Is this issue still open? Can I write some more tests for this?

[2021-10-19 08:35] #352 closed

[2021-10-19 15:26] #339 closed

[2021-10-21 08:55] #369 closed

[2021-11-14 16:25] bidoubiwa opened #479 "Make docs-searchbar compatible with typescript"
For the moment when using docs-searchbar.js in an typescript environment, it raises an error because of a lack of declaration file. This can be prevented by providing a type file.

Better explanation on the issue [here](https://github.com/meilisearch/docs-searchbar.js/issues/479#issuecomment-1268240992).

[2021-12-13 15:01] bidoubiwa opened #505 "Make a clear explaination of what the repo does at the start of the readme"
Docs-searchbar is a great tool if you know what it is. Arriving on the repo you are not met with explanation on what the plugin does.

Taking inspiration of [`instant-meilisearch`](https://github.com/meilisearch/instant-meilisearch/) an explanation should be added at the top of the repo.

[2022-01-13 16:40] curquiza opened #519 "Cypress tests should not work with a remote MeiliSearch instance"
Maybe I'm wrong and the Cypress tests are not working with a remote MeiliSearch instance, but it looks like they are using the `https://docs-search-bar.meiliseasrch.com` instance, which is not recommended. This remote instance is indeed the MeiliSearch instance used by the documentation to provide a search bar. It's not an easy task to upgrade this instance since it's very impactful for the users

[2022-01-19 01:06] ksnyde commented on #40
when you say "set to null" do you mean `null` or the string "null" as the screen shot suggests?

[2022-01-19 01:08] yankeeinlondon opened #525 "Question: search bar's cardinality with indexes"
Can the searchbar work with multiple indexes or only one?

[2022-01-19 09:32] curquiza commented on #525
Hello @ksnyde

This search bar works only with MeiliSearch, and MeiliSearch is not currently able to provide a multi indexes search at the moment. But it's planned for 2022, we plan to start the work during Q2

[2022-01-26 15:39] bidoubiwa opened #532 "Add a scrolling system to see further results"
**Description**
Search is limited to X first results.
We should be able to scroll inside the popup to see other results

[2022-01-27 13:52] bidoubiwa commented on #40
Did you had time to try it out @ksnyde ?
If not I will try it out and confirm which one it is

[2022-01-27 13:55] bidoubiwa opened #534 "Update of the URL linking to the SVG of the `Meilisearch` part appearing in `Powered by ..`"
Following rebranding the `Powered By MeiliSearch` requires a new link to the SVG of the image. While it is not hosted on a CDN we cannot change the link.

<img width="575" alt="Screenshot 2022-01-27 at 14 50 04" src="https://user-images.githubusercontent.com/33010418/151372502-71cd1c33-8bda-4cd8-84a3-4fa83c810663.png">

Waiting on @qdequele to provide a link

[2022-01-27 20:08] qdequele commented on #534
The link is normally the same as previously. https://res.cloudinary.com/meilisearch/image/upload/v1643306912/Logo/logo_text.svg

[2022-02-01 17:23] curquiza commented on #534
Looks like it's fixed by @bidoubiwa right? :)

[2022-02-01 17:53] bidoubiwa commented on #534
It is !

[2022-02-01 17:53] #534 closed

[2022-02-14 15:58] curquiza commented on #519
Can we close this @bidoubiwa ?

[2022-02-14 16:01] curquiza opened #552 "Fix playground"
The playground uses ` https://docs-search-bar.meilisearch.com` that is down today. We need to update the playground to make it usable again.

https://github.com/meilisearch/docs-searchbar.js/blob/a419a4a2f3cf7af10bb47b76e07dc246125b289f/playgrounds/javascript/src/index.js#L6

[2022-02-14 16:03] curquiza commented on #552
@bidoubiwa I let you explain what is the best solution to solve this 🙂

[2022-02-14 18:14] bidoubiwa commented on #519
Yes! My bad

[2022-02-14 18:14] #519 closed

[2022-02-14 19:08] bidoubiwa commented on #552
Hey! The playground is using the remote server. We need to change that with a local server containing documents compatible with the playground.
To achieve this, these must be done:

- [ ] Create a setup script ([like this one](https://github.com/meilisearch/instant-meilisearch/blob/main/tests/env/react/setup.js))
- [ ] Add in the contributing guide how to use the script
- [ ] Add the command to la

[2022-04-07 18:21] bidoubiwa commented on #552
fixed by #563

[2022-04-07 18:21] #552 closed

[2022-04-07 18:23] bidoubiwa commented on #525
This is related to [meilisearch-engine](https://github.com/meilisearch/meilisearch/)! To track multi index search please refer to the releases of meilisearch :)

[2022-04-07 18:23] #525 closed

[2022-04-18 07:59] linlai163 opened #582 "MeiliSearchCommunicationError"
Hey guys, I meet a problem when I use meilisearch-js.

In the old version, It works great. But yesterday, I did some refactor(nothing to do with meilisearch-js) and then, after I deployed my website, I found I can't use the search service.I've send request with masterKey. But problem is still here.

[code]
and this is the code in my project
[code]
You can reproduce the problem in https://trantor-d

[2022-04-19 11:14] bidoubiwa commented on #582
Hey @linlai163
Could you give me the following information:
- your version of `docs-searchbar.js`
- your version of meilisearch

[2022-04-20 02:28] linlai163 commented on #582
@bidoubiwa

- I didn't specify the version of `docs-searchbar.js`, it was loaded by CDN.It should be the newest version. https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.js

- the version of `meilisearch` is v0.23.1

[2022-04-20 08:39] bidoubiwa commented on #582
Hey @linlai163
Could you update meilisearch to the latest (v0.27) **or** specify the version of docs-searchbar to be: v2.0.1 or less ?
Versions above 2.0.1 are only compatible with meilisearch v0.25 and more.

The easiest for you is just to specify the version of docs-searchbar but I would suggest you stay up to date with the latest versions of Meilisearch. We do not guarantee support for the olde

[2022-04-21 02:22] linlai163 commented on #582
@bidoubiwa It did solve the problem, thanks

[2022-04-21 02:22] #582 closed

[2022-05-05 11:40] bidoubiwa opened #590 "Remove support for node 12 and ensure support for node 18"
Node version compatibilities should be changed in the tests and the readme.

See [related issue](https://github.com/meilisearch/integration-guides/issues/196).

### Previous ensured compatibilities:
- Node 12
- Node 13
- Node 14

### New compatibilities to ensure:
- Node 14
- Node 16
- Node 18

## TODO:

- [ ] Update requirements/compatibilities in README.md.
- [ ] Update node versions tested in C

[2022-05-16 20:59] OlegGulevskyy opened #597 "React based SDK"
Are there any plans to make this based on a react with possibly some API exposed for tweaking it, so anyone can customize it as and how they want, using components based UI etc etc?

[2022-05-30 10:04] bidoubiwa commented on #597
There is for the moment no plans to make this react compatible. From my understanding of react, would it not require to create an other package ?

[2022-05-30 10:53] OlegGulevskyy commented on #597
Ideally, yes
But thanks for answering

[2022-05-30 10:53] #597 closed

[2022-05-30 14:39] shivaylamba opened #603 "Allow the docs-searchbar to be invoked using keyboard shortcut"
**Description**
The idea is to allow users to invoke the Meilisearch frontend search bar using a keyboard shortcut like ```cmd + K```. A keyboard shortcut implementation to invoke the search bar is already present in the Algolia search bar and also Slack search bar and it makes it easier for users to do a search rather than have to go to the search bar in the navigation bar every time.

**Basic ex

[2022-05-30 14:41] shivaylamba commented on #603
Would love to know your feedback @bidoubiwa

[2022-05-31 12:50] bidoubiwa commented on #603
Hello!
Unfortunately this is not planned. `docs-searchbar.js` tooked inspiration from the previous version of the docs-scrapper of Algolia. They completely reworked their package and it has now way more features that this package does not have.

When we update this package we might have that feature!

[2022-05-31 12:50] #603 closed

[2022-07-07 17:05] coleshirley opened #623 "Add a configuration to display searchbar in a modal"
**Description**
It would be really nice to be able to display the search bar in a modal similar to the way Algolia does it. Then we could add multiple buttons on the site to trigger the search modal via events

**Basic example**
<img width="2045" alt="Screen Shot 2022-07-07 at 11 01 53 AM" src="https://user-images.githubusercontent.com/84236864/177830213-3ecbf002-68ca-45e3-8434-74e343b13b15.png">

[2022-07-11 08:48] bidoubiwa commented on #623
Hey @coleshirley
Is this the new autocomplete tool of algolia? Could you link me their repo?

[2022-07-11 16:37] theowenyoung commented on #623
@bidoubiwa https://github.com/algolia/docsearch , I also like the new design of doc search. I wonder if it's easy to fork it and adapt to meilisearch.

[2022-07-12 08:35] bidoubiwa commented on #623
Hey @theowenyoung I will look into their new package and see how we can adapt it (if we can).

Thanks a lot for the suggestion!

[2022-07-12 13:04] theowenyoung commented on #623
You're welcome! thanks for the great lib! I notice it on <https://tailwindcss.com/>, it's really smooth!

[2022-08-02 13:22] #590 closed

[2022-09-05 07:40] arranf commented on #623
This would be awesome!

I've looked at doing this myself and it's more work than I'd like!

[2022-09-05 08:47] bidoubiwa commented on #623
@arranf yes unfortunately it's a lot of work

[2022-09-07 07:02] shivaylamba opened #638 "Update image inside of README with latest Meilisearch logo"
Update image inside of README with latest Meilisearch logo. Currently it shows the old logo
![image](https://user-images.githubusercontent.com/19529592/188811020-0ace5f6d-f49e-4b6c-a18a-a4c3ae497f6a.png)

[2022-09-07 11:36] bidoubiwa commented on #638
Thanks for spotting this!

[2022-09-08 12:17] bidoubiwa commented on #638
Currently, the image is already present in the code. What is missing is a new screen shot with the logo. You can achieve that by running the playground and add some relevant documents in the [setup file](https://github.com/meilisearch/docs-searchbar.js/blob/main/playgrounds/html/setup.js).

[2022-09-26 11:04] maryamsulemani97 opened #641 "Text in backticks does not appear in search results"
**Observation:**
- Text in backticks that **is a heading** show ups in search results
- Text in backticks that **is regular text or in tables** does not

1. `createdAt`:
- The first result is a heading: `/reference/api/keys.md#key-object`
- `createdAt` from `/reference/api/indexes.md#index-object` does not appear
<img width="549" alt="Screen Shot 2022-09-26 at 14 26 42" src="https://user-images.gi

[2022-09-27 14:55] bidoubiwa commented on #641
Hey @maryamsulemani97 and @dichotommy

I'll need to test this locally before I can answer. Thanks for raising this issue, I will look into it :)

[2022-09-27 15:43] bidoubiwa commented on #623
Closing this in preference of a compatibility with [autocomplete](https://github.com/algolia/autocomplete)

[2022-09-27 15:43] #623 closed

[2022-09-27 15:44] bidoubiwa commented on #356
Done!

[2022-09-27 15:44] #356 closed

[2022-09-27 22:34] coleshirley commented on #623
To clarify is this compatibility something that is being made by meilisearch or something left up to us end developers?

[2022-09-29 09:15] bidoubiwa commented on #623
Giving it a try is in our short term roadmap :) We hope that the compatibility will be possible without having to re-invent the wheel! I'll keep you updated when we start the work

[2022-10-02 18:29] AyushK-101 commented on #479
I would like to work on this issue

[2022-10-02 18:43] Shoray2002 commented on #638
Hey can I tackle this issue?

[2022-10-03 09:16] ColinFrick commented on #641
Currently the docs scraper for https://docs.meilisearch.com only includes content from p / li tags. If you change the config to also include td it works:
![image](https://user-images.githubusercontent.com/5517677/193542387-485b3be9-4c58-4525-94d2-1c7c47c0f76a.png)

The config.json I used:
[code]

[2022-10-03 09:31] bidoubiwa commented on #479
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-03 09:33] bidoubiwa commented on #638
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-03 09:37] #638 closed

[2022-10-03 09:37] bidoubiwa commented on #641
Thanks a lot for this investigation @ColinFrick.

Can you confirm this fixes your issue @maryamsulemani97  and @dichotommy ?

[2022-10-03 22:29] JaySunSyn opened #652 "Add Shadow Dom support"
**Description**
The search bar uses a CSS `inputSelector` that is used in `document.querySelector(inputSelector)`. This does not work if the search bar is used within a web components / shadow dom.

**Basic example**
https://lit.dev/playground/

**Other**
Next to `inputSelector`, it would be nice if `DocsSearchBar` can accept `inputElement` as well.

[2022-10-04 08:47] ColinFrick commented on #532
Any suggestion how this should be implemented?

Because the results could be sorted by relevancy and not by hierarchy, how should the items be added to the popup? Would the headers be duplicated?

F.e with query 'createdAt key' on the meilisearch documentation:
---- First 5 results ----

1. API reference - Keys - Key object - createdAt
2. API reference - Keys - Get all keys - Example
3. API refere

[2022-10-04 09:17] #652 closed

[2022-10-04 09:43] bidoubiwa opened #654 "Fix README table of contents links"
In the table of content, the links are broken. To fix it, matching emojis should be added to every title referenced by the table of content.

[2022-10-04 09:46] vaibhavmishra4g commented on #654
Could you assign it to me?

[2022-10-04 09:46] Samarthasbhat commented on #654
I will fix this issue

[2022-10-04 09:52] bidoubiwa commented on #654
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-04 10:01] Samarthasbhat commented on #654
What are the content should i need to change like table of content after clicking the link it should redirect ??

[2022-10-04 10:43] deepesh16b commented on #654
Please assign this to me

[2022-10-04 11:41] bidoubiwa commented on #654
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-04 11:52] bidoubiwa commented on #532
This is a very good point you are raising @ColinFrick. There is also the issue that scrolling would conflict with scrolling on the page itself.

I checked how algolia handles it and they did not add the scrolling possibility. [See example](https://docs.strapi.io/developer-docs/latest/getting-started/introduction.html#open-source-contribution)

This might not be a very good idea after all.

[2022-10-04 11:53] bidoubiwa commented on #532
I'm closing this as it is not a good idea!

[2022-10-04 12:22] AyushK-101 commented on #479
@bidoubiwa I would like to know more about the issue, as in how can I reproduce it. From what I am getting, we can set allowJs to true in compilerOptions in tsconfig.json to run the Javascript files in typescript environment

[2022-10-04 13:44] AyushK-101 commented on #654
@bidoubiwa I have made a PR regarding this issue, please review it

[2022-10-04 14:29] maryamsulemani97 commented on #641
Hi @ColinFrick,

Adding `.theme-default-content td` to the config file fixed the issue. Thank you!

[2022-10-04 15:04] bidoubiwa commented on #641
Closing this, thanks again @ColinFrick for this investigation ✨

[2022-10-04 15:10] #654 closed

[2022-10-05 10:21] bidoubiwa commented on #479
In some environments they need to have access to a type file. Something like `index.d.ts`.  You can find more information on how to do this [here](https://medium.com/jspoint/typescript-type-declaration-files-4b29077c43).

An example of a repository that does this is axios which [code-base is in JS](https://github.com/axios/axios/blob/v1.x/index.d.ts) but they provide a type file.

[2022-10-10 12:12] stringer1000 opened #660 "Add a Scroll To Top Button"
**Description**
Add a scroll to top button for users to easily move to the top.
If approved, please assign me this issue.

[2022-10-10 17:09] bidoubiwa commented on #660
Hey @stringer1000, How do you envision this?

[2022-10-26 10:31] imvkmark opened #668 "Auto search when search input has content and actived"
When there is content in the search box, click the search box, the search box is activated, and the search result window is not automatically opened

Expected: When the search box has content and is activated
1. All texts are in the selected state, which is convenient to directly enter new content for searching
2. Open the search result page to display the search content, which is convenient to ad

[2022-10-26 16:03] bidoubiwa commented on #668
Hey @imvkmark it seems that there is a bug with your docs-searchbar. Can you provide the code initializing it?

[2022-10-29 16:19] imvkmark commented on #668
@bidoubiwa , Thank for your help.
There has 2 parts in my blog.

at main.js, the `hostUrl` can opened in browser
[code]

at html
[code]

[2022-10-31 10:40] bidoubiwa commented on #668
what happens if you add docsSearchBar in a script tag inside your HTML file ?

[code]

[2022-10-31 13:21] imvkmark commented on #668
I'm use hexo for static site, so i can't add script to jsx file.

[2022-11-02 02:33] imvkmark commented on #668
Because of the slow access of cdn in China, I download the js file to my source directory. so you may cannot find access log from network panel.

[2022-11-02 10:45] bidoubiwa commented on #668
if you console.log `docsSearchBar` does it appear in your browser logs?

[2022-11-03 04:14] imvkmark commented on #668
![image](https://user-images.githubusercontent.com/150127/199646372-d0e18a47-4673-42ee-8d6b-62bd12c7dbeb.png)

Yes

[2022-11-03 11:33] bidoubiwa commented on #668
@imvkmark okey I just understood the issue. You are right, because of the Chinese CDN it was not working at all on my end (or it could work but I should have waited longer).

So the improvement you are requiring: If there is text in the input and focus is put on the input, the results component should automatically open ?

[2022-11-03 15:10] imvkmark commented on #668
Yes, That's what i mean. like notion's search bar.